@font-face {
  font-family: 'iconfont';  /* Project id 2572636 */
  src: url('https://at.alicdn.com/t/font_2572636_1dr5e7pueme.woff2?t=1648545846850') format('woff2'),
       url('https://at.alicdn.com/t/font_2572636_1dr5e7pueme.woff?t=1648545846850') format('woff'),
       url('https://at.alicdn.com/t/font_2572636_1dr5e7pueme.ttf?t=1648545846850') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingbao:before {
  content: "\e636";
}

.icon-bianji:before {
  content: "\e631";
}

.icon-shoucang:before {
  content: "\e8c2";
}

.icon-zhuanhuan:before {
  content: "\e64a";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-fenlei2:before {
  content: "\e62e";
}

.icon-zhifubao:before {
  content: "\e630";
}

.icon-yue:before {
  content: "\e62f";
}

.icon-qiyeguanliqi:before {
  content: "\e62d";
}

.icon-shaixuan1:before {
  content: "\e62c";
}

.icon-saomiao:before {
  content: "\e62b";
}

.icon-gengduo1:before {
  content: "\ec1c";
}

.icon-31pinglun:before {
  content: "\e628";
}

.icon-icon-:before {
  content: "\e629";
}

.icon-24px:before {
  content: "\e62a";
}

.icon-weixin:before {
  content: "\e627";
}

.icon-shouqi:before {
  content: "\e634";
}

.icon-gengduo:before {
  content: "\e640";
}

.icon-biaoqing:before {
  content: "\e63a";
}

.icon-add1:before {
  content: "\e625";
}

.icon-yuyin:before {
  content: "\e6d4";
}

.icon-zhuanzhang:before {
  content: "\e7df";
}

.icon-jinggao:before {
  content: "\e651";
}

.icon-fanhui1:before {
  content: "\e7a1";
}

.icon-lianjie:before {
  content: "\e61d";
}

.icon-yonghu1:before {
  content: "\e61f";
}

.icon-tianjiahaoyou:before {
  content: "\e620";
}

.icon-dui:before {
  content: "\e622";
}

.icon-shang1:before {
  content: "\e626";
}

.icon-xia1:before {
  content: "\e61c";
}

.icon-fuzhi1:before {
  content: "\e61b";
}

.icon-daifahuodingdan:before {
  content: "\e617";
}

.icon-zhuyi:before {
  content: "\e731";
}

.icon-xia:before {
  content: "\e616";
}

.icon-refresh:before {
  content: "\e6ea";
}

.icon-icon1460191699499:before {
  content: "\e657";
}

.icon-liulan1:before {
  content: "\e624";
}

.icon-laba:before {
  content: "\e615";
}

.icon-shaixuan:before {
  content: "\e71d";
}

.icon-tag27fuben:before {
  content: "\e614";
}

.icon-shanchu:before {
  content: "\e613";
}

.icon-fenlei1:before {
  content: "\e623";
}

.icon-icon-dingdan:before {
  content: "\e60f";
}

.icon-sheji:before {
  content: "\e621";
}

.icon-liutong:before {
  content: "\e60c";
}

.icon-fazhanpeixun:before {
  content: "\e612";
}

.icon-zhishi:before {
  content: "\e683";
}

.icon-guanggao:before {
  content: "\e61e";
}

.icon-branch:before {
  content: "\e60e";
}

.icon-guquanerong:before {
  content: "\e61a";
}

.icon-fuwudingdanxiangqing-kefu:before {
  content: "\e6a9";
}

.icon-rili-copy-copy-copy-copy:before {
  content: "\e60b";
}

.icon-shang:before {
  content: "\e65b";
}

.icon-youhuiquan:before {
  content: "\e6a0";
}

.icon-yincang:before {
  content: "\e676";
}

.icon-fanhui:before {
  content: "\e618";
}

.icon-jiantou:before {
  content: "\e611";
}

.icon-dayuhao:before {
  content: "\e702";
}

.icon-fenlei:before {
  content: "\e63f";
}

.icon-xiaoxi:before {
  content: "\e602";
}

.icon-xiazai:before {
  content: "\e650";
}

.icon--tainjia:before {
  content: "\e603";
}

.icon-nv:before {
  content: "\e69a";
}

.icon-delete1:before {
  content: "\e604";
}

.icon-liulan:before {
  content: "\ea40";
}

.icon-nan:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e63d";
}

.icon-youjiantou:before {
  content: "\e606";
}

.icon-erweima:before {
  content: "\e607";
}

.icon-fuzhi:before {
  content: "\e689";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-xiangji:before {
  content: "\e652";
}

.icon-iconfontcheck:before {
  content: "\e608";
}

.icon-arrow-up5:before {
  content: "\e609";
}

.icon-wenhao:before {
  content: "\e693";
}

.icon-delete:before {
  content: "\e601";
}

.icon-dengji:before {
  content: "\e600";
}

.icon-yonghu:before {
  content: "\e64f";
}

.icon-weizhi:before {
  content: "\e619";
}

.icon-copy:before {
  content: "\e60d";
}

.icon-qushi:before {
  content: "\e724";
}

.icon-huizhangcopy:before {
  content: "\e60a";
}

.icon-zhuangtai:before {
  content: "\e746";
}

.icon-shuoming:before {
  content: "\e780";
}

